<mat-toolbar color="primary">
  <span>Projeto Base</span>
  <span class="spacer"></span>
  @if (! authService.isLoggedIn()) {
    <a routerLink="/login">
      <mat-icon fontIcon="login"></mat-icon>Login</a>
  } @else {
    @if (authService.getRoles().includes('ROLE_SUPER_ADMIN')) {
      <a routerLink="/admin">
        <mat-icon fontIcon="settings"></mat-icon>Admin</a>
      <a routerLink="/funcionario">
        <mat-icon fontIcon="badge"></mat-icon>Funcionário</a>
      }
    @if (authService.isAdmin()) {
      <a routerLink="/funcionario">
        <mat-icon fontIcon="badge"></mat-icon>Funcionário</a>
      }
    @if (authService.isCliente()) {
      <a routerLink="/cliente" *ngIf="authService.isLoggedIn()">
        <mat-icon fontIcon="person"></mat-icon>Cliente</a>

      }
    <a (click)="logout()" routerLink="/" *ngIf="authService.isLoggedIn()">
      <mat-icon fontIcon="logout"></mat-icon>Sair
    </a>
  }
</mat-toolbar>
<router-outlet></router-outlet>